<!DOCTYPE html>
<html>
  <head>
    <title>Alpha-Ruby Page</title>
    <link rel="stylesheet" href="app/assets/stylesheets/style.css">
    
  
  <%= link_to 'Home', root_path %>
  <%= link_to 'About', about_path %>
    
  <header>
  <h1>ABOUT</h1>  
  </header>
  <nav>
    <br><br>
    <a class="menu" href="https://rubycourse-edgardian182.c9users.io/" >Home</a> <br><br>
    <a class="menu" href="https://rubycourse-edgardian182.c9users.io/about">About</a> <br><br><br><br><br><br><br><br>
    <h3>Supported by</h3>
    <img src="http://vignette3.wikia.nocookie.net/p__/images/8/8c/Ruby_Jewel.png/revision/latest/scale-to-width-down/300?cb=20140603161923&path-prefix=protagonist" alt="RUBY" style="width:140px; height:110px;">
  </nav>
  <article style="text-align:justify; width:950px">
    <h2 style="text-align:left; font-size:250%">What is the AlphaBlog?</h2>
    <br>
    <p class="about">Is the best way to find your road to success... Here you will find all the information you need to become the superstar you have always 
    dreamed about.</p>
    <p class="about">It is time to wake up, stop being a couch potato. You, the one who is reading this, this is your time, this is your moment, 
    time to do what you really want to do, time to become the person you deserve to be...</p> 
    <br>
    <p class="about">IT IS <span style="color:red">TIME TO BE THE ALPHA MAN.</span></p>
  </article>
  <section> 
  </section>
  <footer>
    Copyright © FalconStudio
  </footer>  
    <%= image_tag 'sample_html_page.png' %>

    
  </body>
</html>