<!DOCTYPE html>
<html>
  <head>
    <title>Alpha-Ruby Page</title>
    <link rel="stylesheet" href="app/stylesheets/style.css">
  
  </head>
  <body>
  
  <%= link_to 'Home', root_path %>
  <%= link_to 'About', about_path %>
  
  <header>
  <h1>ALPHA RUBY BLOG</h1>  
  </header>
  <nav>
    <br><br>
    <a class="menu" href="https://rubycourse-edgardian182.c9users.io/" >Home</a> <br><br>
    <a class="menu" href="https://rubycourse-edgardian182.c9users.io/about">About</a> <br><br><br><br><br><br><br><br>
    <h3>Supported by</h3>
    <img src="http://vignette3.wikia.nocookie.net/p__/images/8/8c/Ruby_Jewel.png/revision/latest/scale-to-width-down/300?cb=20140603161923&path-prefix=protagonist" alt="RUBY" style="width:140px; height:110px;">
  </nav>
  <article>
    <br><br>
    <hr>
    <p style="font-size:400%">WELCOME TO THE BEST <span style="color:red">ALPHA BLOG</span> EVER!</p>
    <hr>
  </article>
  <section>
    <br><br><br><br>
  <img src="http://media.merchantcircle.com/41818001/Alpha%20Logo%20-%20Big_full.png" alt="Logo Alpha" style="width:350px; height:350px">  
  </section>
  <footer>
    Copyright © FalconStudio
  </footer>  
    
  </body>
</html>