<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Rails Course</a> 
      by <a href="#">Andres Quintana</a> 
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>